PI172/Source/ORACLE_KIMBALLNUMBER/GetKimballNumber_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.primark.co.uk/GetKimballNumber/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.primark.co.uk/GetKimballNumber/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="getKimballNumbers">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="RequestID" type="xsd:string"/>
          	<xsd:element name="Quantity" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="getKimballNumbersResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="RequestID" type="xsd:string"/>
          	<xsd:element name="RequestStatus">
          		<xsd:simpleType>
          			<xsd:restriction base="xsd:string">
          				<xsd:enumeration value="Success"/>
          				<xsd:enumeration value="Failure"/>
          			</xsd:restriction>
          		</xsd:simpleType>
          	</xsd:element>
          	<xsd:element maxOccurs="unbounded" minOccurs="0" name="KimballNumber" type="xsd:string">
          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>